<a href="https://colab.research.google.com/github/ancestor9/24_fall_python-programimming-2/blob/main/%EC%A4%91%EA%B0%84%EA%B3%A0%EC%82%AC_Capstone_Design_03_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **중간고사**
대학 학위는 매우 비쌉니다. 그러나 학위가 돈을 갚아주나요? 철학이나 국제 관계를 전공으로 선택하면 부모님을 걱정하게 만들죠, 그런데 부모님의 우려가 데이터로 증명이 될까요? PayScale Inc.는 학사 학위만 있는 120만 명의 미국인을 대상으로 1년 동안 설문조사를 실시했습니다. 이 데이터를 자세히 살펴보며 판다스를 사용하여 다음 질문에 답을 해보겠습니다.

초봉이 가장 높은 학위는 무엇일까?

대학 졸업 후 소득이 가장 낮은 전공은 무엇일까?

어떤 학위가 가장 높은 소득 잠재력을 가지고 있을까?

소득 관점에서 위험성이 가장 낮은 대학 전공은 무엇일까?

경영이나 STEM(과학, 기술, 공학, 수학), HASS(인문, 예술, 사회 과학) 학위가 평균적으로 더 많은 소득을 벌까?

오늘 배울 것은 아래와 같습니다.

판다스 데이터프레임(DataFrame)을 탐색하는 방법

NaN(Not a Number, 숫자 아님) 값을 감지하고 데이터를 정리하는 방법

특정 열, 행 및 개별 셀을 선택하는 방법

데이터를 정렬하는 방법

범주별로 데이터를 그룹화하는 방법

그리고 그 밖에도 많이 있습니다! 시작해 볼까요!

In [ ]:
import pandas as pd

file_path = '/content/salaries_by_college_major.csv'
df = pd.read_csv(file_path)
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [ ]:
df.shape

(51, 6)

In [ ]:
df['Undergraduate Major'].value_counts()

Undergraduate Major
Accounting                              1
Mechanical Engineering                  1
History                                 1
Hospitality & Tourism                   1
Industrial Engineering                  1
Information Technology (IT)             1
Interior Design                         1
International Relations                 1
Journalism                              1
Management Information Systems (MIS)    1
Marketing                               1
Math                                    1
Music                                   1
Graphic Design                          1
Nursing                                 1
Nutrition                               1
Philosophy                              1
Physician Assistant                     1
Physics                                 1
Political Science                       1
Psychology                              1
Religion                                1
Sociology                               1
Spanish                                 1
Health Care Administration              1
Geology                                 1
Aerospace Engineering                   1
Computer Engineering                    1
Agriculture                             1
Anthropology                            1
Architecture                            1
Art History                             1
Biology                                 1
Business Management                     1
Chemical Engineering                    1
Chemistry                               1
Civil Engineering                       1
Communications                          1
Computer Science                        1
Geography                               1
Construction                            1
Criminal Justice                        1
Drama                                   1
Economics                               1
Education                               1
Electrical Engineering                  1
English                                 1
Film                                    1
Finance                                 1
Forestry                                1
Source: PayScale Inc.                   1
Name: count, dtype: int64

In [ ]:
# prompt: Undergraduate Major 별로 그룹핑해서

# Undergraduate Major 별로 그룹핑하여 평균 시작 급여, 중간 경력 급여 등을 확인합니다.
grouped_by_major = df.groupby('Undergraduate Major').agg({
    'Starting Median Salary': 'mean',
    'Mid-Career Median Salary': 'mean',
    'Mid-Career 10th Percentile Salary': 'mean',
    'Mid-Career 90th Percentile Salary': 'mean'
})

grouped_by_major.sort_values(by='Starting Median Salary', ascending=False)

,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Undergraduate Major,,,,
Physician Assistant,74300.0,91700.0,66400.0,124000.0
Chemical Engineering,63200.0,107000.0,71900.0,194000.0
Computer Engineering,61400.0,105000.0,66100.0,162000.0
Electrical Engineering,60900.0,103000.0,69300.0,168000.0
Mechanical Engineering,57900.0,93600.0,63700.0,163000.0
Aerospace Engineering,57700.0,101000.0,64300.0,161000.0
Industrial Engineering,57700.0,94700.0,57100.0,173000.0
Computer Science,55900.0,95500.0,56000.0,154000.0
Nursing,54200.0,67000.0,47600.0,98300.0
Civil Engineering,53900.0,90500.0,63400.0,148000.0
Construction,53700.0,88900.0,56300.0,171000.0
Physics,50300.0,97300.0,56000.0,178000.0
Economics,50100.0,98600.0,50600.0,210000.0
Management Information Systems (MIS),49200.0,82300.0,45300.0,146000.0
Information Technology (IT),49100.0,74800.0,44500.0,129000.0
Finance,47900.0,88300.0,47200.0,195000.0
Accounting,46000.0,77100.0,42200.0,152000.0
Math,45400.0,92400.0,45200.0,183000.0
Geology,43500.0,79500.0,45000.0,156000.0
Business Management,43000.0,72100.0,38800.0,147000.0
Agriculture,42600.0,71900.0,36300.0,150000.0
Chemistry,42600.0,79900.0,45300.0,148000.0
Architecture,41600.0,76800.0,50600.0,136000.0
Geography,41200.0,65500.0,40000.0,132000.0
International Relations,40900.0,80900.0,38200.0,157000.0
Political Science,40800.0,78200.0,41200.0,168000.0
Marketing,40800.0,79600.0,42100.0,175000.0
Philosophy,39900.0,81200.0,35500.0,168000.0
Nutrition,39900.0,55300.0,33900.0,99200.0
History,39200.0,71000.0,37000.0,149000.0
Forestry,39100.0,62600.0,41000.0,111000.0
Health Care Administration,38800.0,60600.0,34600.0,101000.0
Biology,38800.0,64800.0,36900.0,135000.0
Communications,38100.0,70000.0,37500.0,143000.0
English,38000.0,64700.0,33400.0,133000.0
Film,37900.0,68500.0,33900.0,136000.0
Hospitality & Tourism,37800.0,57500.0,35500.0,124000.0
Anthropology,36800.0,61500.0,33800.0,138000.0
Sociology,36500.0,58200.0,30700.0,118000.0
Interior Design,36100.0,53200.0,35700.0,107000.0
Psychology,35900.0,60400.0,31600.0,127000.0
Music,35900.0,55000.0,26700.0,134000.0
Drama,35900.0,56900.0,36700.0,153000.0
Art History,35800.0,64900.0,28800.0,125000.0
Graphic Design,35700.0,59800.0,36000.0,112000.0
Journalism,35600.0,66700.0,38400.0,145000.0
Criminal Justice,35000.0,56300.0,32200.0,107000.0
Education,34900.0,52000.0,29300.0,102000.0
Religion,34100.0,52000.0,29700.0,96400.0
Spanish,34000.0,53100.0,31000.0,96400.0
Source: PayScale Inc.,NaN,NaN,NaN,NaN

In [ ]:
# prompt: 초봉이 가장 높은 학위는 무엇일까?

# 초봉이 가장 높은 학위 찾기
highest_starting_salary_major = df.loc[df['Starting Median Salary'].idxmax()]

print("초봉이 가장 높은 학위:")
print(highest_starting_salary_major['Undergraduate Major'])

초봉이 가장 높은 학위:
Physician Assistant

In [ ]:
df.loc[df['Starting Median Salary'].idxmax()]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

In [ ]:
# prompt: 대학 졸업 후 소득이 가장 낮은 전공은 무엇일까?

# 대학 졸업 후 소득이 가장 낮은 전공 찾기
lowest_starting_salary_major = df.loc[df['Starting Median Salary'].idxmin()]

print("대학 졸업 후 소득이 가장 낮은 전공:")
print(lowest_starting_salary_major['Undergraduate Major'])

대학 졸업 후 소득이 가장 낮은 전공:
Spanish

In [ ]:
# prompt: 어떤 학위가 가장 높은 소득 잠재력을 가지고 있을까?

# 중간 경력 봉급이 가장 높은 학위 찾기
highest_mid_career_salary_major = df.loc[df['Mid-Career Median Salary'].idxmax()]

print("가장 높은 소득 잠재력을 가진 학위:")
print(highest_mid_career_salary_major['Undergraduate Major'])

가장 높은 소득 잠재력을 가진 학위:
Chemical Engineering

In [ ]:
# prompt: 소득 관점에서 위험성이 가장 낮은 대학 전공은 무엇일까?

# 소득 관점에서 위험성이 가장 낮은 대학 전공 찾기
# 즉, 중간 경력 10%와 90% 백분위 수 급여의 차이가 가장 작은 전공을 찾습니다.

df['Spread'] = df['Mid-Career 90th Percentile Salary'] - df['Mid-Career 10th Percentile Salary']

lowest_spread_major = df.loc[df['Spread'].idxmin()]

print("소득 관점에서 위험성이 가장 낮은 대학 전공:")
print(lowest_spread_major['Undergraduate Major'])

소득 관점에서 위험성이 가장 낮은 대학 전공:
Nursing

In [ ]:
df.groupby('Group').count()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Spread
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [ ]:
df[df['Group'] == 'Business']

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group,Spread
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business,109800.0
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business,113700.0
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business,85400.0
7,Business Management,43000.0,72100.0,38800.0,147000.0,Business,108200.0
14,Construction,53700.0,88900.0,56300.0,171000.0,Business,114700.0
17,Economics,50100.0,98600.0,50600.0,210000.0,Business,159400.0
22,Finance,47900.0,88300.0,47200.0,195000.0,Business,147800.0
23,Forestry,39100.0,62600.0,41000.0,111000.0,Business,70000.0
27,Health Care Administration,38800.0,60600.0,34600.0,101000.0,Business,66400.0
29,Hospitality & Tourism,37800.0,57500.0,35500.0,124000.0,Business,88500.0
36,Marketing,40800.0,79600.0,42100.0,175000.0,Business,132900.0
40,Nursing,54200.0,67000.0,47600.0,98300.0,Business,50700.0

In [ ]:
business_majors = df[df['Group'] == 'Business']['Undergraduate Major'].values.tolist()
hass_majors = df[df['Group'] == 'HASS']['Undergraduate Major'].values.tolist()
stem_majors = df[df['Group'] == 'STEM']['Undergraduate Major'].values.tolist()

In [ ]:
# STEM 학위의 평균 중간 경력 급여
stem_median_salary = df[df['Undergraduate Major'].isin(stem_majors)]['Mid-Career Median Salary'].mean()

# HASS 학위의 평균 중간 경력 급여
hass_median_salary = df[df['Undergraduate Major'].isin(hass_majors)]['Mid-Career Median Salary'].mean()

# 경영 학위의 평균 중간 경력 급여
business_median_salary = df[df['Undergraduate Major'].isin(business_majors)]['Mid-Career Median Salary'].mean()

print(f"STEM 학위의 평균 중간 경력 급여: {stem_median_salary}")
print(f"HASS 학위의 평균 중간 경력 급여: {hass_median_salary}")
print(f"경영 학위의 평균 중간 경력 급여: {business_median_salary}")

# 평균 중간 경력 급여가 가장 높은 학위 분야 출력
if stem_median_salary > hass_median_salary and stem_median_salary > business_median_salary:
  print("STEM 학위가 평균적으로 가장 높은 소득을 벌었습니다.")
elif hass_median_salary > stem_median_salary and hass_median_salary > business_median_salary:
  print("HASS 학위가 평균적으로 가장 높은 소득을 벌었습니다.")
elif business_median_salary > stem_median_salary and business_median_salary > hass_median_salary:
  print("경영 학위가 평균적으로 가장 높은 소득을 벌었습니다.")
else:
  print("평균 중간 경력 급여가 비슷합니다.")

STEM 학위의 평균 중간 경력 급여: 90812.5
HASS 학위의 평균 중간 경력 급여: 62968.181818181816
경영 학위의 평균 중간 경력 급여: 75083.33333333333
STEM 학위가 평균적으로 가장 높은 소득을 벌었습니다.